.login-form {
  display: flex;
  flex-direction: column;
  padding: 15px;

  &__validate-message {
    color: #f00;
  }

  &__row {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

    input {
      height: 25px;
      margin-left: 15px;

      &:hover {
        border-color: rgb(193, 230, 198);
      }
    }

    button {
      padding: 5px;
      background-color: white;
      border-radius: 5px;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }
}